<!DOCTYPE html>
<html>
  <head>
    <title>My application</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="background-color: gray; width: 100vw; height: 45px;"> my navbar</div>
      <%= yield %>
    <div style="background-color: gray; width: 100vw; height: 45px;"> my footer</div>
  </body>
</html>
